.projects {
  text-align: center;
  padding: 2rem;
  background-color: #F5F5F5;
}

.project-list {
  display: flex;
  justify-content: center; /* Center the project list */
  align-items: center; /* Vertically center items if needed */
  gap: 2rem;
  padding: 1rem 0;
  overflow-x: auto;
}

.project-item {
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  width: 500px; /* Set width for horizontal layout */
  height: 300px; /* Set a fixed height */
  flex: 0 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: row; /* Align content horizontally */
}

.project-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 50%; /* Adjust image width */
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.project-content {
  padding: 1rem;
  width: 50%; /* Adjust content width */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-content h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #FF9800;
}

.project-content p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.project-content strong {
  color: #FF9800;
}
